/* ----------------------------------------

Styles for Media Queries Practice Exercise
Author: Your Name Here 

----------------------------------------- */
.wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

    .box0 {
        background-color: darkred;
        color: white;
    }
    .box1 {
        background-color: red;
        color: white;
    }
    .box2 {
        background-color: darkorange;
        color: white;
    }
    .box3 {
        background-color: orange;
        color: white;
    }
    .box4 {
        background-color: yellow;
        color: white;
    }
    .box5 {
        background-color: greenyellow;
        color: white;
    }
    .box6 {
        background-color: green;
        color: white;
    }
    .box7 {
        background-color: purple;
        color: white;
    }
    .box8 {
        background-color: violet;
        color: white;
    }
    .box9 {
        background-color: blue;
        color: white;
    }

    @media screen and (max-width: 640px) {
        .box1 {
            width: 50%;
        }
        .box2 {
            width: 50%;
        }
    }

    @media screen and (min-width: 641px) and (max-width: 1023px) {
        .box0 {
            width: 100%;
        }
        .box1 {
            width: 50%;
        }
        .box2 {
            width: 50%;
        }
        .box3 {
            width: 50%;
        }
        .box4 {
            width: 50%;
        }
        .box5 {
            width: 50%;
        }
        .box6 {
            width: 50%;
        }
        .box7 {
            width: 33.33%;
        }
        .box8 {
            width: 33.33%;
        }
        .box9 {
            width: 33.33%;
        }
        
    }

    @media screen and (min-width: 1024px) {
        .box0 {
            width: 100%;
        }
        .box1 {
            width: 33.33%;
        }
        .box2 {
            width: 33.33%;
        }
        .box3 {
            width: 33.33%;
        }
        .box4 {
            width: 50%;
        }
        .box5 {
            width: 50%;
        }
        .box6 {
            width: 25%;
        }
        .box7 {
            width: 25%;
        }
        .box8 {
            width: 25%;
        }
        .box9 {
            width: 25%;
        }
        body {
            background-color: palegreen;
        }
    }
